
<div id="nav">
    <ul>
        <li><a href="admin" id="admin" class="haha" style="display:none">账号管理</a></li>
        <li><a href="kc" id="kc" class="haha" style="display:none">库存</a></li>
        <li><a href="rk" id="rk" class="haha" style="display:none">入库</a></li>
        <li><a href="jc" id="jc" class="haha" style="display:none">检测</a></li>
        <li><a href="gd" id="gd" class="haha" style="display:none">跟单</a></li>
        <li><a href="a" id="a" class="haha" style="display:none">装机A</a></li>
        <li><a href="b" id="b" class="haha" style="display:none">装机B</a></li>
        <li><a href="c" id="c" class="haha" style="display:none">装机C</a></li>
        <li><a href="ck" id="ck" class="haha" style="display:none">出库</a></li>
        <li><a href="bf" id="bf" class="haha" style="display:none">报废</a></li>
        <li><a href="shsq" id="shsq" class="haha" style="display:none">售后</a></li>
        <li><a href="shjc" id="shjc" class="haha" style="display:none">售后检测</a></li>
        <!-- <li><a href="sh" id="sh">售后处理</a></li>
        <li><a href="shfh" id="shfh">售后发货</a></li> -->
        <li><a href="wx" id="wx" class="haha" style="display:none">维修</a></li>
        <li><a href="ls" id="ls" class="haha" style="display:none">历史纪录</a></li>         

    </ul>
</div>
 <footer>吃饭，睡觉，打豆豆</footer>
