 <%- include('components/header') %>
 <style>
    *{font-size:12px!important}
    
</style>
 <div class="content">     
    
    <div class="des">
        
        <div>          
            <div class="table">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
    
        </div>
    </div>
    
       
 </div>
 
 <%- include('components/nav') %>
  <script src="/js/admin.js"></script>
 <%- include('components/footer') %>
 
 
 
 
 