#nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    background: #0d1528;
    z-index: 2
}
#nav > ul {
    margin-top: 60px;
    height: calc(100% - 60px);
    overflow-y:auto;
}
/* li {
    border-bottom: 1px solid #141f33;
} */

#nav a {
    display: block;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
#nav a.active,
#nav a:hover {
    background: #182743;
    border-left: 4px solid #538bfa;
}

#ls {
    display: block;
}